<?xml version='1.0' encoding='utf-8'?>
<widget id="example.reddit_viewer" version="0.1.0">
  <name>Reddit Viewer</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="dbuschtoens@eclipsesource.com">
    David Buschtöns
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
